/*
Error: File to import not found or unreadable: bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.
       Load paths:
         
        on line 4 of app.scss

1: $icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
2: $fa-font-path: "/bower_components/font-awesome/fonts";
3: 
4: @import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
5: @import 'font-awesome/scss/font-awesome';
6: 
7: /**
8:  * App-wide Styles
9:  *\/

Backtrace:
app.scss:4
/usr/lib64/ruby/gems/2.0.0/gems/sass-3.4.6/lib/sass/tree/import_node.rb:66:in `rescue in import'
/usr/lib64/ruby/gems/2.0.0/gems/sass-3.4.6/lib/sass/tree/import_node.rb:45:in `import'
/usr/lib64/ruby/gems/2.0.0/gems/sass-3.4.6/lib/sass/tree/import_node.rb:28:in `imported_file'
/usr/lib64/ruby/gems/2.0.0/gems/sass-3.4.6/lib/sass/tree/import_node.rb:37:in `css_import?'
/usr/lib64/ruby/gems/2.0.0/gems/sass-3.4.6/lib/sass/tree/visitors/perform.rb:301:in `visit_import'
/usr/lib64/ruby/gems/2.0.0/gems/sass-3.4.6/lib/sass/tree/visitors/base.rb:36:in `visit'
/usr/lib64/ruby/gems/2.0.0/gems/sass-3.4.6/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/usr/lib64/ruby/gems/2.0.0/gems/sass-3.4.6/lib/sass/stack.rb:79:in `block in with_base'
/usr/lib64/ruby/gems/2.0.0/gems/sass-3.4.6/lib/sass/stack.rb:115:in `with_frame'
/usr/lib64/ruby/gems/2.0.0/gems/sass-3.4.6/lib/sass/stack.rb:79:in `with_base'
/usr/lib64/ruby/gems/2.0.0/gems/sass-3.4.6/lib/sass/tree/visitors/perform.rb:158:in `visit'
/usr/lib64/ruby/gems/2.0.0/gems/sass-3.4.6/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/usr/lib64/ruby/gems/2.0.0/gems/sass-3.4.6/lib/sass/tree/visitors/base.rb:52:in `map'
/usr/lib64/ruby/gems/2.0.0/gems/sass-3.4.6/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/usr/lib64/ruby/gems/2.0.0/gems/sass-3.4.6/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/usr/lib64/ruby/gems/2.0.0/gems/sass-3.4.6/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/usr/lib64/ruby/gems/2.0.0/gems/sass-3.4.6/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/usr/lib64/ruby/gems/2.0.0/gems/sass-3.4.6/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/usr/lib64/ruby/gems/2.0.0/gems/sass-3.4.6/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/usr/lib64/ruby/gems/2.0.0/gems/sass-3.4.6/lib/sass/tree/visitors/base.rb:36:in `visit'
/usr/lib64/ruby/gems/2.0.0/gems/sass-3.4.6/lib/sass/tree/visitors/perform.rb:157:in `visit'
/usr/lib64/ruby/gems/2.0.0/gems/sass-3.4.6/lib/sass/tree/visitors/perform.rb:8:in `visit'
/usr/lib64/ruby/gems/2.0.0/gems/sass-3.4.6/lib/sass/tree/root_node.rb:36:in `css_tree'
/usr/lib64/ruby/gems/2.0.0/gems/sass-3.4.6/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/usr/lib64/ruby/gems/2.0.0/gems/sass-3.4.6/lib/sass/engine.rb:368:in `_render_with_sourcemap'
/usr/lib64/ruby/gems/2.0.0/gems/sass-3.4.6/lib/sass/engine.rb:285:in `render_with_sourcemap'
/usr/lib64/ruby/gems/2.0.0/gems/sass-3.4.6/lib/sass/plugin/compiler.rb:489:in `update_stylesheet'
/usr/lib64/ruby/gems/2.0.0/gems/sass-3.4.6/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/usr/lib64/ruby/gems/2.0.0/gems/sass-3.4.6/lib/sass/plugin/compiler.rb:209:in `each'
/usr/lib64/ruby/gems/2.0.0/gems/sass-3.4.6/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/usr/lib64/ruby/gems/2.0.0/gems/sass-3.4.6/lib/sass/plugin.rb:82:in `update_stylesheets'
/usr/lib64/ruby/gems/2.0.0/gems/sass-3.4.6/lib/sass/exec/sass_scss.rb:350:in `watch_or_update'
/usr/lib64/ruby/gems/2.0.0/gems/sass-3.4.6/lib/sass/exec/sass_scss.rb:50:in `process_result'
/usr/lib64/ruby/gems/2.0.0/gems/sass-3.4.6/lib/sass/exec/base.rb:52:in `parse'
/usr/lib64/ruby/gems/2.0.0/gems/sass-3.4.6/lib/sass/exec/base.rb:19:in `parse!'
/usr/lib64/ruby/gems/2.0.0/gems/sass-3.4.6/bin/scss:13:in `<top (required)>'
/usr/bin/scss:8:in `load'
/usr/bin/scss:8:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: File to import not found or unreadable: bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.\A        Load paths:\A          \A         on line 4 of app.scss\A \A 1: $icon-font-path: \"/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/\";\A 2: $fa-font-path: \"/bower_components/font-awesome/fonts\";\A 3: \A 4: @import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';\A 5: @import 'font-awesome/scss/font-awesome';\A 6: \A 7: /**\A 8:  * App-wide Styles\A 9:  */"; }
